---
  const { content } = Astro.props;
---

<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-screen-2xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h1 class="text-5xl font-light tracking-tight text-white sm:text-6xl"><slot /></h1>
      <p class="mt-8 text-pretty text-lg font-normal text-zinc-400 sm:text-xl/8">{content}</p>
    </div>
  </div>
</div>
