---
import Image from "astro/components/Image.astro";
import PlainLink from "./PlainLink.astro";
import jc from './jc-thumb.png';
import lr from './lr-thumb.png';
import mm from './mm-thumb.png';
import rd from './rd-thumb.png';
---

<div class="divide-y divide-zinc-400 flex-1 flex flex-col items-end max-w-sm relative z-20">
  <div class="flex justify-between w-full pb-3">
    <a href="" class="text-white font-normal text-center uppercase text-base xl:text-lg bg-main hover:ring-2 hover:ring-main duration-300 transition-all w-1/2 px-2 xl:px-4 py-3">Start Trading</a>
    <div class="shrink-0">
      <PlainLink href="#pricing" color="green">View Pricing</PlainLink>
    </div>
  </div>
  <div class="flex divide-x divide-zinc-400 w-full">
    <div class="pt-3 w-1/2">
      <div class="flex items-center space-x-4 pr-4">
        <div class="flex -space-x-2 overflow-visible">
          <Image class="inline-block h-8 w-8 rounded-full" src={mm} alt="" />
          <Image class="inline-block h-8 w-8 rounded-full" src={lr} alt="" />
          <Image class="inline-block h-8 w-8 rounded-full" src={jc} alt="" />
          <Image class="inline-block h-8 w-8 rounded-full" src={rd} alt="" />
        </div>
        <p class="text-sm font-mono">Members</p>
      </div>
    </div>
    <div class="w-1/2 flex items-center pl-3 font-mono">
      <svg focusable="false" fill="currentColor" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" data-di-res-id="4e724268-8e339b30" data-di-rand="1729111914795"><path d="M25,10h-.06A9,9,0,0,0,7.06,10H7A5,5,0,0,0,7,20H9V11a7,7,0,0,1,14,0V21a4,4,0,0,1-3.17,3.91,4,4,0,1,0,.05,2A6,6,0,0,0,25,21V20a5,5,0,0,0,0-10ZM4,15a3,3,0,0,1,3-3v6A3,3,0,0,1,4,15ZM16,28a2,2,0,1,1,2-2A2,2,0,0,1,16,28Zm9-10V12a3,3,0,0,1,0,6Z"></path><title>Headset</title></svg>
      <button class="text-sm pl-2 hover:underline">24/7 Help Desk Support</button>
    </div>
  </div>
</div>
