---
import PlainLink from "./PlainLink.astro";
---

<div class="flex-1 max-w-max relative top-6">
  <div class="flex flex-col w-full pb-3 -space-y-4 ml-auto">
    <PlainLink href="/pricing" size="large" color="green">Start Trading Today</PlainLink>
    <PlainLink href="/pricing" size="large" color="white">View Pricing Options</PlainLink>
    <PlainLink href="/pricing" size="large" color="white">24/7 Help Desk Support</PlainLink>
    <PlainLink href="/pricing" size="large" color="white">DayTraders Guarantee</PlainLink>
  </div>
</div>
