---
import Pricing from "./Pricing.svelte";
---

<section id="pricing" class="bg-black relative py-24 sm:py-32 w-full flex flex-col items-center mt-16 sm:mt-20 2xl:mt-24">
  <div style="background-image: url(./pricing-bg.png)" class="absolute inset-0 z-[1] bg-no-repeat bg-fixed lg:bg-local md:bg-left-top w-full md:bg-contain"></div>
  <div class="w-full relative z-[2] mx-auto max-w-7xl px-4 lg:px-8">
    <div class="mx-auto max-w-xl text-center">
      <h2 class="font-thin uppercase text-2xl sm:text-3xl lg:text-4xl md:text-center w-full">
        Choose <span class="font-bold">Your Future</span>
      </h2>
    </div>
    <p class="mt-6 text-lg leading-8 text-zinc-400 text-center">Pick the plan and risk protection that fits your trading needs.</p>
    <Pricing client:load />
  </div>
</section>