---
import PlainLink from "./PlainLink.astro";
---

<section id="cta" class="py-24 sm:py-32 relative w-full flex flex-col items-center mt-16 sm:mt-20 2xl:mt-24 px-[5vw] md:px-[4vw] 2xl:px-60">
  <div class="bg-black px-4 lg:px-8 w-full relative py-12 lg:py-20 bg-no-repeat bg-right bg-contain" style="background-image: url(./cta-bg.png)">
    <div class="relative z-[2]">
      <h2 class="font-thin uppercase text-2xl sm:text-3xl lg:text-4xl w-full">
        Ready to <span class="font-bold">Start Trading?</span>
      </h2>
      <p class="my-6 text-lg leading-8 text-zinc-400">Take control of your financial future with our tools, education and thriving community.</p>
      <!-- <a href="/signup" class="inline-block mt-6 px-8 py-4 bg-green-800 hover:bg-green-700 hover:bg text-white font-semibold uppercase text-lg tracking-widest">Sign Up Now</a> -->
       <PlainLink href="/signup" color="green">Sign Up Now</PlainLink>
    </div>
    <div class="inset-0 bg-black absolute z-[1] opacity-80"></div>
  </div>
</section>
