---

---

<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="font-thin uppercase text-2xl sm:text-3xl lg:text-4xl text-center w-full">
      Next-gen <span class="font-bold">Trading Tech</span>
    </h2>
    <div class="mx-auto mt-10 w-full grid md:grid-cols-3 items-center justify-center gap-x-8 gap-y-10 sm:max-w-xl sm:gap-x-10 md:mx-0 md:max-w-none">
      <img class="col-span-2 max-h-12 md:max-h-20 w-full object-contain md:col-span-1 object-center opacity-50" src="./rithmic.png" alt="Rithmic" width="250" height="69" />
      <img class="col-span-2 max-h-12 md:max-h-20 w-full object-contain md:col-span-1 object-center opacity-50" src="quantower.png" alt="Quantower" width="250" height="69" />
      <img class="col-span-2 max-h-12 md:max-h-20 w-full object-contain md:col-span-1 object-center opacity-50" src="./motionwave.png" alt="MotionWave" width="250" height="69" />
    </div>
  </div>
</div>
