<script>
  // your script goes here
</script>

<section id="success" class="relative w-full flex flex-col items-center mt-16 sm:mt-20 2xl:mt-24">
  <div class="w-full max-w-7xl mx-auto">
    <div class="overflow-hidden py-24 sm:py-12">
      <div class="mx-auto">
        <div class="lg:max-w-lg">
          <h2 class="font-thin uppercase text-2xl sm:text-3xl lg:text-4xl md:text-left w-full [conten]">Your Success<br /><span class="font-bold">Is Our Success</span></h2>
          <p class="mt-6 text-lg leading-8 text-zinc-400">Unlike traditional models, we don't earn from your fees or losses. Your growth is our priority and we're here to support you every step of the way.</p>
        </div>
        <div class="mt-10 grid grid-cols-1 gap-2 sm:mt-16 lg:grid-cols-6 lg:grid-rows-2">
          <div class="flex p-px lg:col-span-4">
            <div class="overflow-hidden bg-zinc-900 ring-1 ring-blood/50 w-full">
              <img class="h-40 w-full object-cover object-center" src="" alt="" />
              <div class="p-10">
                <p class="text-lg/7 font-medium tracking-tight text-white">Unified Wallets</p>
                <p class="mt-2 max-w-lg text-sm/6 text-zinc-400">Simplify engagement, transactions, and rewards distribution. Offer valuable first-party data and personalized experiences without cookies or pixels.</p>
              </div>
            </div>
          </div>
          <div class="flex p-px lg:col-span-2 w-full">
            <div class="overflow-hidden bg-zinc-900 ring-1 ring-blood/50">
              <img class="h-40 w-full object-cover object-center" src="" alt="" />
              <div class="p-10">
                <p class="text-lg/7 font-medium tracking-tight text-white">Referral Tracking Engine</p>
                <p class="mt-2 max-w-lg text-sm/6 text-zinc-400">Track referrals and reward customers perpetually to drive viral growth and brand loyalty.</p>
              </div>
            </div>
          </div>
          <div class="flex p-px lg:col-span-2">
            <div class="overflow-hidden bg-zinc-900 ring-1 ring-blood/50">
              <img class="h-40 w-full object-cover object-center" src="" alt="" />
              <div class="p-10">
                <p class="text-lg/7 font-medium tracking-tight text-white">Perpetual User ID Links</p>
                <p class="mt-2 max-w-lg text-sm/6 text-zinc-400">Incentivize users with "engage-to-earn" programs, linking their rewards directly to their unique ID.</p>
              </div>
            </div>
          </div>
          <div class="flex p-px lg:col-span-4">
            <div class="overflow-hidden bg-zinc-900 ring-1 ring-blood/50 w-full">
              <img class="h-40 w-full object-cover object-center" src="" alt="" />
              <div class="p-10">
                <p class="text-lg/7 font-medium tracking-tight text-white">Instant Configuration</p>
                <p class="mt-2 max-w-lg text-sm/6 text-zinc-400">Your users don't need to set up anything, no extra agreements. Onboard your existing users with the click of a button while respecting their privacy.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
